h1{
    color:#1d3557;
}
.menu{
    list-style-type:none ;
    background-color:#e387c1a0;
    overflow: hidden;
    margin:0;
    padding:0;
}
li{
    float:left;
    overflow:hidden;
    left: 100px;
}
li a{
    display: block;
    color: rgba(6, 1, 1, 0.848);
    padding: 15px;
    text-decoration: none;
}
li a:hover{
    background-color:#efd5ea;
}

.login li{
    float:right;
    overflow:hidden;
    padding: 0px;
}

.login li:hover{
    display: block;
    color:white;
    padding:0px;
    text-decoration: rgb(230, 104, 230);
}

.registro{
    float:right;
    overflow: hidden;
    margin: 9px 9px;
    background: linear-gradient(#f2b6f2, #90f1e7 ) ;
    border-radius: 5px;
    font-weight: bold;
}

.sesion{
    float:right;
    overflow:hidden;
    margin: 9px 9px;
    background-color:rgb(223, 79, 148);
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid rgb(197, 0, 95);
}


