{%extends "base.html"%}

{%block titulo%} Confecciones HARYULEY {% endblock %}

{%block contenido%} 
    <form class="formulario" method="POST">
        {% csrf_token %}
            <legend>Login</legend>
            <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario"/><br>
            </label>
            <label for="pass1"><br>

                password
                <input type="password" id="pass1" name="pass1"><br>
                <br>

            </label>
            <button type="submit">Iniciar sesion</button><br>

            <button type="submit">cerrar sesion </button>
            
        </form>
            <br>
</body>
</html>
{% endblock %}
