{%extends "base.html"%}

{%block titulo%} Confecciones HARYULEY {% endblock %}

{%block contenido%} 
    <h1>inicio de sesion</h1>

        <form method="post">
            <label for="usuario">
                <br>
                Usuario
                <input type="text" name="username"
            </label>
            <label for="password">
            <br>
                contraseña
                <input type="password" name="password">
            </label>
            <button type="submit">Iniciar sesion</button>
        </form>
            <br>
            <a href="{% url 'salir' %"> cerrar sesion</a>
            <br>
{% endblock %}
